.fr-icon-arrow-right-line::before,
.fr-icon-arrow-right-line::after {
    -webkit-mask-image: url("../../icons/system/arrow-right-line.svg");
    mask-image: url("../../icons/system/arrow-right-line.svg");
}

.fr-icon-mail-fill::before,
.fr-icon-mail-fill::after {
    -webkit-mask-image: url("../../icons/business/mail-fill.svg");
    mask-image: url("../../icons/business/mail-fill.svg");
}

.fr-icon-user-fill::before,
.fr-icon-user-fill::after {
    -webkit-mask-image: url("../../icons/user/user-fill.svg");
    mask-image: url("../../icons/user/user-fill.svg");
}

.fr-icon-information-line::before,
.fr-icon-information-line::after {
    -webkit-mask-image: url("../../icons/system/information-line.svg");
    mask-image: url("../../icons/system/information-line.svg");
}

.fr-icon-account-circle-fill::before,
.fr-icon-account-circle-fill::after {
    -webkit-mask-image: url("../../icons/user/account-circle-fill.svg");
    mask-image: url("../../icons/user/account-circle-fill.svg");
}

.fr-icon-clipboard-line::before,
.fr-icon-clipboard-line::after {
    -webkit-mask-image: url("../../icons/document/clipboard-line.svg");
    mask-image: url("../../icons/document/clipboard-line.svg");
}

.fr-icon-settings-5-line::before,
.fr-icon-settings-5-line::after {
    -webkit-mask-image: url("../../icons/system/settings-5-line.svg");
    mask-image: url("../../icons/system/settings-5-line.svg");
}

.fr-icon-theme-fill::before,
.fr-icon-theme-fill::after {
    -webkit-mask-image: url("../../icons/system/fr--theme-fill.svg");
    mask-image: url("../../icons/system/fr--theme-fill.svg");
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .fr-icon-arrow-right-line::before,
    .fr-icon-arrow-right-line::after {
        background-image: url("../../icons/system/arrow-right-line.svg");
    }
    
    .fr-icon-mail-fill::before,
    .fr-icon-mail-fill::after {
        background-image: url("../../icons/business/mail-fill.svg");
    }
    
    .fr-icon-user-fill::before,
    .fr-icon-user-fill::after {
        background-image: url("../../icons/user/user-fill.svg");
    }
    
    .fr-icon-information-line::before,
    .fr-icon-information-line::after {
        background-image: url("../../icons/system/information-line.svg");
    }
    
    .fr-icon-account-circle-fill::before,
    .fr-icon-account-circle-fill::after {
        background-image: url("../../icons/user/account-circle-fill.svg");
    }
    
    .fr-icon-clipboard-line::before,
    .fr-icon-clipboard-line::after {
        background-image: url("../../icons/document/clipboard-line.svg");
    }
    
    .fr-icon-settings-5-line::before,
    .fr-icon-settings-5-line::after {
        background-image: url("../../icons/system/settings-5-line.svg");
    }
    
    .fr-icon-theme-fill::before,
    .fr-icon-theme-fill::after {
        background-image: url("../../icons/system/fr--theme-fill.svg");
    }
    
}
