.home {
  display: flex;
  justify-content: space-around;
  margin: 5% 10%;
}

.button {
  display: inline-block;
  height: 10px;
  margin-top: 8px;
  margin-left: 0px;
  text-align: center;
  /* min-width: 170px;  */
  /* font-size: 11px; */
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
}

.HomeForm {
  width: 40%;
}

.HomeSlider {
}

.confButtons {
  display: flex;
  width: 100%;
  margin-top: -3%;
}

.confButtonsStretch {
  top: 50px;
  display: flex;
  flex-direction: column;
}

/* .button {
  display: inline-block;
  height: 10px;
  margin-top: 8px;
  margin-left: 10px;
  text-align: center;
} */

.buttonsGroup {
  position: absolute;
  display: flex;
  flex-direction: column;
}

.buttonGroup {
  display: inline-block;
  height: 10px;
  margin-top: 5px;
  margin-left: -197%;
  width: 197%;
  text-align: center;
}

.plusButton {
  display: inline-block;
  height: 10px;
  min-width: 60px;
  margin-top: 8px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 0px;
  text-align: center;
}

.hidden {
  display: none;
}

@media (max-width: 600px) {
  .home {
    display: flex;
    flex-direction: column;
  }

  .HomeForm {
    align-items: center;
    width: 100%;
    margin-top: 10%;
  }

  .message {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
  }

  .form {
    display: flex;
    flex-direction: column;
  }

  .plusButton {
    display: inline-block;
    height: 10px;
    margin-top: 5px;
    margin-left: 5px;
    text-align: center;
  }
}

.roomNameConditionValid {
  display: block;
  color: green;
}

.roomNameConditionNotValid {
  display: block;
  color: red;
}

.badge {
  display: block;
  margin-top: 1%;
}

.fromAndMessage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.modalButtons {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}

.dateTimePicker {
  margin-top: 1rem;
  width: 50%;
  display: inline;
  padding: 5px 10%;
  color: #0a76f6;
  border: 0.1rem solid;
  border-color: rgb(143, 139, 139);
  border-radius: 0.3rem;
}

.modal {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: auto;
}

@media only screen and (max-width: 600px) {
  .textInput {
    width: 100%;
  }

  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .textInput {
    width: 100%;
  }

  .button {
    display: inline-block;
    height: 10px;
    margin-top: 8px;
    margin-left: 0px;
    text-align: center;
    width: 100%;
    height: 20%;
    width: 100%;
    padding: 0 32%;
  }


  .modal {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: auto;
  }

  .modalButtons {
    display: flex;
    width: 100%;
    margin: auto;
    margin-bottom: 10%;
  }

  .modalButton {
    /* margin-top: 3px; */
    width: 40%;
  }

  .modalButton1 {
    /* margin-top: 3px; */
    width: 30%;
  }
}

.calendarModalButtons {
  display: flex;
  justify-content: space-between;
}
