.home {
    display: flex;
    justify-content: space-around;
    margin: 5% 10%;
}

.ButtonForm {
    display: flex;
}

.HomeForm {
    align-items: center;
    width: 40%;
}

.HomeSlider {
}


@media (max-width: 600px) {
    .home {
        display: flex;
        flex-direction: column;
    }

    .HomeForm {
        align-items: center;
        width: 100%;
    }
}
