.home {
  display: flex;
  justify-content: space-around;
  margin: 5% 10%;
}

.form {
  display: flex;
}

.HomeForm {
  width: 40%;
}

.HomeSlider {
}

.confButtons {
  display: flex;
  width: 100%;
}

.confButtonsStretch {
  top: 50px;
  display: flex;
  flex-direction: column;
}

.button {
  display: inline-block;
  height: 10px;
  margin-top: 8px;
  margin-left: 10px;
  text-align: center;
}

.plusButton {
  display: inline-block;
  height: 10px;
  margin-top: 8px;
  margin-left: 10px;
  text-align: center;
}

@media (max-width: 600px) {
  .home {
    display: flex;
    flex-direction: column;
  }

  .HomeForm {
    align-items: center;
    width: 100%;
  }

  .form {
    display: flex;
    flex-direction: column;
  }

  .button {
    display: inline-block;
    height: 10px;
    margin-top: 5px;
    margin-left: 0px;
    text-align: center;
    width: 100%;
  }

  .plusButton {
    display: inline-block;
    height: 10px;
    margin-top: 5px;
    margin-left: 5px;
    text-align: center;
  }
}
